{% extends 'base.html' %}

{% block content %}
<h1 class="mt-5 text-center">Об авторе</h1>
<div class="row">
    <div class="col-md-4 mb-3">
        <img class="avatar" src="{{ url_for('static', filename='images/avatar.jpg') }}" alt="Author">
    </div>
    <div class="col-md-8 text-justify d-flex align-items-center">
        <p>
            Теняев Виктор — студент, который неустанно погружается в мир программирования и изучает язык Python. 
            Сегодня он снова сидит за своим компьютером, поглощенный выполнением лабораторной работы. 
            
            Каждая строчка кода для него — это новое открытие, шаг к пониманию тонкостей программирования. 
            В поисках знаний и навыков, он исследует возможности Python, стремясь расширить свои горизонты и стать мастером в своем деле.
        </p>
    </div>
</div>
{% endblock %}